*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top right, rgb(138, 137, 123) 0%, rgb(39, 24, 25) 58%);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height:1.6;
    margin: 0;
    position:relative;
    font-variant: small-caps;
    min-height: 99vh;
}

.gameBoard{
    clear: both;
    margin:0 auto;
    width:960px;
    background-color: antiquewhite;
    border: groove black;
    text-align: center;
}

.questionTitle{
    color: #4cda14;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

input{
    margin-right:2px;
}

#timerArea{
    text-align: left;
    color: black;
    font-size: 20px;
    margin-bottom: 6px;
    margin-left: 20px;
}

#gameSection{
    background-color: white;
    border: black 4px;
}

.instructions{
    padding:10px;

}

.results{
    padding:10px;
    color: darkred;
    background: grey;
}

img{
    float: right;
    height: 200px;
    width:400px;
}

#startButton{
    margin-bottom:3px;
}

#timer{
    font-size: 28px;
}